<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338408258755-ovvkbtrf5422n8qtc6h1fhodkp21gdau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338408258755-ovvkbtrf5422n8qtc6h1fhodkp21gdau</string>
	<key>API_KEY</key>
	<string>AIzaSyD2scNEJtEmIj88PQ8TebWEELTC90RbcxI</string>
	<key>GCM_SENDER_ID</key>
	<string>338408258755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coredata.slack-app</string>
	<key>PROJECT_ID</key>
	<string>message-e620f</string>
	<key>STORAGE_BUCKET</key>
	<string>message-e620f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338408258755:ios:9bcb5cb0ece0ccf4dcf676</string>
</dict>
</plist>